.wrapper {
    width: 500px;
    min-height: 500px;
}
.row {
    display: flex;
    align-items: center;
}
.form-group {
    margin-bottom: 5px;
}
.btn {
    background-color: #0d6efd;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}
.btn:hover {
    background-color: #0dcaf0;
    color: #000;
}
#main_form {
    width: 500px;
}
#main_form input[type="range"] {

}
#main_form .number-input {
    width: 25px;
    margin: 0 5px;
    padding: 2px 5px;
    border-radius: 5px;
}
#review {
    margin-top: 15px;
}